In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data = pd.read_csv('nzx1.csv')

In [5]:
data

,Code,Company,Price,Change,Volume,Value,Capitalisation
0,AFI,Australian Foundation Investment Company Limited,$8.730,-$0.010 / -0.11%,"1,110","$9,758.71","$10,703,253,493"
1,AMP,AMP Limited,$1.140,$0.000 / 0.00%,"15,514","$17,707.16","$3,917,723,135"
2,ANZ,Australia and New Zealand Banking Group Limited,$28.990,-$0.020 / -0.07%,"28,778","$827,850.09","$82,294,466,216"
3,DOW,Downer EDI Limited,$0.000,$0.000 / 0.00%,0,$0.00,$0
4,MHJ,Michael Hill International Limited,$0.870,$0.010 / 1.16%,"1,241,671","$1,068,254.48","$337,808,275"
...,...,...,...,...,...,...,...
181,TRA,Turners Automotive Group Limited,$4.480,$0.150 / 3.46%,"88,996","$393,170.77","$385,590,231"
182,WDT,Wellington Drive Technologies Limited,$0.122,-$0.002 / -1.61%,"179,047","$21,782.68","$52,693,584"
183,WHS,The Warehouse Group Limited,$3.780,$0.070 / 1.89%,"54,766","$205,537.36","$1,311,066,994"
184,WHS,The Warehouse Group Limited,$3.780,$0.070 / 1.89%,"54,766","$205,537.36","$1,311,066,994"
185,ZEL,Z Energy Limited,$3.530,$0.020 / 0.57%,"1,131,911","$3,984,716.56","$1,836,083,501"

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Code            186 non-null    object
 1   Company         186 non-null    object
 2   Price           186 non-null    object
 3   Change          186 non-null    object
 4   Volume          186 non-null    object
 5   Value           186 non-null    object
 6   Capitalisation  186 non-null    object
dtypes: object(7)
memory usage: 10.3+ KB

In [13]:
data.dropna(inplace=True)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Code            186 non-null    object
 1   Company         186 non-null    object
 2   Price           186 non-null    object
 3   Change          186 non-null    object
 4   Volume          186 non-null    object
 5   Value           186 non-null    object
 6   Capitalisation  186 non-null    object
dtypes: object(7)
memory usage: 10.3+ KB

In [ ]:
from scikit-learn import train_test_split

x = data.drop(['value'],axis=1)